.heading{
    color: green;
    font-weight: 600;
    margin-top: 20px;
     margin-left:90px; 
    margin-bottom: 20px;
    

}


    

 /* .dashboard-container{
  display: flex;
  justify-content: center;
  align-items: center;
   
}
@media screen and (max-width:576px){
    .dashboard-container{
        align-items: left;
    }
} */
